xsd/event.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InfrastructureEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EventData">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="resourceType"/>
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="ip"/>
                <xs:attribute type="xs:string" name="uid"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="EventTime"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>